*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.margen_menu{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;

}


.navbar-collapse{
    flex-grow:0;
}

.container-fluid.my-container-fluid{
    justify-content: center;
}

.navbar-nav{
    text-align: center;
}

.fondo_menu{
    background-color: rgb(252, 200, 200);
}

.texto_menu{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.margen_icono_inicio{
    margin-top: 17px;
}

.margen_inicio{
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 30px;
}

.margen_icono_contacto{
    margin-top: 19px;
}

.margen_contacto{
    margin-left: 0px;
    margin-top: 10px;
    margin-left: 30px;
}

.titulos{
    font-family: 'Bebas Neue', cursive;
    margin-top: 15px;
}


.css-button-retro--rose {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border: 1px solid #000;
        color: #000;
        background: transparent;
}
.css-button-retro--rose:hover:after {
        top: 0;
        left: 0;
}
.css-button-retro--rose:after {
        content: "";
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 5px;
        left: 5px;
        transition: 0.2s;
        background-color: #ff6392;
}


.css-button-shadow-border-sliding--rose {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #ff0a78;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--rose:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--rose:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #ff6392;
    right: 0;
  }
  .css-button-shadow-border-sliding--rose:active {
    top: 2px;
  }

.btn-wsp{
    font-size: 25px;
    color: black;
}

.btn-wsp:hover{
    text-decoration: none;
    color:white;
    
}

.boton_face{
    font-size: 25px;
    color: black;
}

.boton_inst{
    font-size: 25px;
    color: black;
}

.boton_email{
    font-size: 25px;
    color: black;
}

.titulos_cards{
    font-family: 'Bebas Neue', cursive;
}

.mas_info{
    font-family: 'Bebas Neue', cursive;

}

.tipo_parrafos{
    font-family: 'Noto Serif', serif;
}

.tipo_parrafos_2{
    font-family: 'Unna', serif;
}

.position_tarjetas{
    display: flex;
    justify-content: center;
   
}

.container_contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_contacto .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container_contacto .box::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

.container_contacto .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.container_contacto .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;

}

.container_contacto .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}

.container_contacto .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;

}

.container_contacto .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}

.container_contacto .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;

}

.container_contacto .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}

.container_contacto .box:nth-child(4) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;

}

.container_contacto .box:nth-child(4):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}

.container_contacto .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container_contacto .box:hover .content{
    color: #fff;
}

.container_contacto .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;

}

.container_contacto .box .content p{
    margin: 0;
    padding: 0;
}

.vinculo_contacto{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);

}




.position_cursos{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cursos{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card_cursos{
    
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}

.card_cursos:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card_cursos img{
    width: 100%;
   
}

.card_cursos .contenido_cursos{
    padding: 15px;
    
}



.vinculo_card{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ff6392;
    border-radius: 4px;
    transition: all 400ms ease;
    color: #ff6392;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.vinculo_card:hover{
    background: #ff6392;
    color: #fff;
}

/* INDICES DE CURSOS */


.container_indice{
    width: 100%;
    max-width: 900px;
    margin:auto;
    padding: 20px;
    border-top: 6px solid red;
}

.container_indice img{
    width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    
}

.titulo_indice{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 40px;
    font-size: 30px;
}

.parrafo_indice{
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
    margin-left: 10px;
}

.sub_title_indice{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    font-weight: 400;
}

/* Agrandar imagenes */

#foto_grande{
    transition: all 300ms;
    position: relative;

}

#foto_grande:hover{
    width: 300px;
    transform: scale(1.5)
}


/* galerias */

.galeria{
    width: 95%;
    
    
}

.imagenes_indice_vinculo{
    display: block;
    position: relative;
    overflow: hidden;
    
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.5s;
}



.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    text-align: center;
    width: 100%;
    /* height: 100vh; */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

/* .light-box img{
    width: 75vw;
    max-height: 70vh;
} */

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    text-decoration: none;
}

.next{
    display: block;
    color: white;
}